Task 1 – Import required libraries

In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

Task 2 – Generate random data for the social media data

In [28]:
periods_long = 500

categories = ["Food", "Travel", "Fashion", "Fitness", "Music", "Culture", "Family", "Health"]

data = {
    "Date": pd.date_range(start='2023-01-01', periods=periods_long),
    "Category": [random.choice(categories) for _ in range(periods_long)],
    "Likes": np.random.randint(0, 10000, size=periods_long),
}

Task 3 – Load the data into a Pandas DataFrame and Explore the data

In [30]:
data = pd.DataFrame(data)
data.head()

        Date Category  Likes
0 2023-01-01    Music   4799
1 2023-01-02  Culture   3913
2 2023-01-03    Music    240
3 2023-01-04   Family   6975
4 2023-01-05  Fitness   5333

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      500 non-null    datetime64[ns]
 1   Category  500 non-null    object
 2   Likes     500 non-null    int32
dtypes: datetime64[ns](1), int32(1), object(1)
memory usage: 9.9+ KB

In [32]:
data.describe()

             Likes
count   500.000000
mean   4999.426000
std    2741.658988
min      51.000000
25%    2692.250000
50%    5145.000000
75%    7216.750000
max    9988.000000

In [33]:
data["Category"].value_counts()

Music      72
Culture    70
Fitness    70
Food       67
Travel     59
Family     56
Health     53
Fashion    53
Name: Category, dtype: int64